includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - identifier: instanceof.alwaysFalse
          path: app/Http/Controllers/Settings/*
